<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="926068">  <td>18/06/22 17:57:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JiraLoginLogoutTestNG.JiraLogin()[pri:1, instance:com.jiraloadtest.JiraLoginLogoutTestNG@134593bf]">JiraLogin</td> 
  <td>main@1176735295</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/06/22 17:57:20</td>   <td>10970</td> <td>&nbsp;</td><td title="&lt;&lt;JiraLoginLogoutTestNG.JiraLogout()[pri:0, instance:com.jiraloadtest.JiraLoginLogoutTestNG@134593bf]">&lt;&lt;JiraLogout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1176735295</td>   <td></td> </tr>
<tr bgcolor="feb982">  <td>18/06/22 17:57:25</td>   <td>15590</td> <td title="&lt;&lt;testbase.closeBrowser()[pri:0, instance:com.jiraloadtest.JiraLoginLogoutTestNG@134593bf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1176735295</td>   <td></td> </tr>
<tr bgcolor="f57599">  <td>18/06/22 17:57:15</td>   <td>5838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="viewBoardTestNG.projectViewBoard()[pri:8, instance:com.jiraloadtest.viewBoardTestNG@4bb4de6a]">projectViewBoard</td> 
  <td>main@1176735295</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/06/22 17:57:03</td>   <td>-5801</td> <td title="&gt;&gt;JiraLoginLogoutTestNG.setUP()[pri:0, instance:com.jiraloadtest.JiraLoginLogoutTestNG@134593bf]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1176735295</td>   <td></td> </tr>
</table>
